<div class="questionBlock w3-animate-right" id="||_questionID_||" data-element="||_questionType_||" data-order="||question-order||">
  <span class="count">
    ||_count_||
  </span>
  <div class="progBar" style="width:calc(||_prog_||)"></div>
  <span class="prompt">
    ||_prompt_||
  </span>
  <div class="responseBox ||_selectorType_||">
    ||_options_||
    <div class="optionExplanation">
      <span class="optionExplainer">This is a relationship</span>
    </div>
  </div>
  <button class="nextQuestion">NEXT</button>
</div>