html{
  --copy-size: 12pt;
  --title-size:18pt;
  --padding-def:16px;
  --accent-color:#92a7ce;
  --grey-color:#4e4c4d;
  --black-color:#333;
  --white-color:#f8f9fa;
  --fancy-font:"Montserrat";
  --reg-font:"Montserrat";
  text-align:center;
}

html, body{
  height:100%;
  width:100%;

  font-family:var(--reg-font), sans-serif;
  background-color:var(--white-color);
}
.navbar{
  padding-left:0px;
  padding-right:0px;
}
.logoBox
{
  font-family:var(--fancy-font);
  padding:8px;
  border: 2px solid var(--accent-color);
  border-radius:3px;
  font-size:1.5em;
  letter-spacing: 3px;
}
.nav-item{
  font-family:var(--reg-font);
  padding-left:30px;
  width:auto;
}

.navbar-light .navbar-nav .nav-link{
  color:var(--black-color);
}

h2{
  font-family: var(--fancy-font);
  width:100%;
  font-size:1.75em;
  clear:both;
  text-align:center;
  padding-top:32px;
  padding-bottom:32px;
}

h4{
  width:60%;
  text-align:center;
  font-size:1em;
  font-weight:700;
  margin-left:auto;
  margin-right:auto;
  color:var(--grey-color);
  padding-bottom:32px;

}

.imageHomes{
  display:none;
}

.footer{
  width:100%;
  clear:both;
  border-top:1px solid #bcbcbc;
  text-align:center;
  margin-top:1em;
  padding-bottom:2em;
}

.footer div{
  margin-top:4em;
  text-align:center;
  float:none;
  clear:both;
}
#icon-gift-better-gift-wrapt{
  margin-top:4em;
  width:300px;
}

.allQuestionsSlider{
  width:100%;
  min-height:400px;
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);*/
}

.questionBlock{
  display:none;
  width:100%;
  min-height:100%;
  overflow-y: hidden;
  padding:16px;
  background-color:#fff;
}

.nextQuestion{
  background-color:var(--accent-color);
  padding:8px;
  padding-left:32px;
  padding-right:32px;
  color:var(--white-color);
  border:3px solid var(--white-color);
  border-radius:3px;
  display:block;
  clear:both;
  float:right;
  cursor:pointer;
  margin-top:2em;
}
.lastQuestion{
  background-color:var(--white-color);
  padding:8px;
  padding-left:32px;
  padding-right:32px;
  color:var(--black-color);
  border:3px solid var(--accent-color);
  border-radius:3px;
  display:block;
  clear:both;
  float:right;
  cursor:pointer;
  margin-top:2em;
}

span.count{
  font-size:0.8em;
  color:var(--grey-color);
  display:block;
  float:left;
  clear:both;
}
div.progBar{
  width:calc(4 * 100%/12);
  margin-top:16px;
  height:5px;
  float:left;
  clear:both;
  background-color:var(--accent-color);
}
div.responseBox{
  clear:both;
  float:left;
  width:100%;
  margin-top:32px;
}

.prompt{
  display:block;
  clear:both;
  float:left;
  width:100%;
  text-align:left;
  font-size:1.2em;
  margin-top:32px;
}

input.inputResp{
  width:80%;
  height:2.5em;
  border-style:none;
  border-bottom:2px solid var(--accent-color);
  line-height: 2.5em;
  vertical-align: 2.5em;
}

.responseBox div.option{
  width:120px;
  height:50px;
  float:left;
  background-color:var(--white-color);
  border:1px Solid var(--grey-color);
  border-radius: 3px;
  margin:8px;
  text-align:center;
  line-height: 50px;
  vertical-align: middle;
  cursor:pointer;
}
.responseBox div.option:hover{
  background-color: rgba(247, 154, 111, 0.15);
}
.responseBox div.option:active{
  background-color: rgba(247, 154, 111, 0.65);
}
div.option.selected{
  background-color: rgba(247, 154, 111, 0.5);
}

div.otherResponse{
  clear:both;
  width:100%;
  float:none;
  display:none;
  margin-top:32px;
}
div.optionExplanation{
  clear:both;
  width:100%;
  text-align:center;
  float:none;
  margin-top:32px;
}


.slider {
    -webkit-appearance: none;
    width: 80%;
    height: 10px;
    border-radius: 5px;   
    background: var(--grey-color);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    display:block;
    margin-left:auto;
    margin-right:auto;
    clear:both;
}
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: var(--accent-color);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--accent-color);
    cursor: pointer;
}
span.minRange{
  display:block;
  float:left;
  margin-left:0%;
  width:20%;
  text-align:center;
}
span.maxRange{
  display:block;
  float:right;
  margin-right:0;
  width:20%;
  text-align:center;
}

@media (max-width: 575.98px) {
  body{
    padding:16px;
  }

}

@media (min-width: 576px) and (max-width: 767.98px) {
  .navbar{
    padding:16px;
  }
}




@media (min-width: 768px) and (max-width: 1000px) {
  body{
    width:768px;
    margin-left:auto;
    margin-right:auto;
  }

}

@media (min-width: 1000px) and (max-width: 1250px) {
  body{
    width:1000px;
    margin-left:auto;
    margin-right:auto;
  }
}



@media (min-width: 1250px) {
  body{
    width:80%;
    margin-left:auto;
    margin-right:auto;
  }
}