html{
  --copy-size: 12pt;
  --title-size:18pt;
  --padding-def:16px;
  --accent-color:#92a7ce;
  --grey-color:#4e4c4d;
  --black-color:#333;
  --white-color:#f8f9fa;
  --fancy-font:"Montserrat";
  --reg-font:"Montserrat";
  --carousel-height:100px;
  text-align:center;
}

html, body{
  height:100%;
  width:100%;

  font-family:var(--reg-font), sans-serif;
  background-color:var(--white-color);
}
.navbar{
  padding-left:0px;
  padding-right:0px;
}
.imageHomes{
  display:none;
}

.logoBox
{
  font-family:var(--fancy-font);
  padding:8px;
  border: 2px solid var(--accent-color);
  border-radius:3px;
  font-size:1.5em;
  letter-spacing: 3px;
}
.nav-item{
  font-family:var(--reg-font);
  padding-left:30px;
  width:auto;
}
/*.nav-item:before{
  content:"\25E6";
  color:var(--accent-color);
}
.nav-item:hover:before{
  content:"\2022";
  color:var(--accent-color);  
}*/

.navbar-light .navbar-nav .nav-link{
  color:var(--black-color);
}
#giftbasketLink{
  cursor: pointer;
}
h1{
  font-family: var(--fancy-font);
  width:100%;
  clear:both;
  text-align:center;
  padding-top:32px;
  padding-bottom:32px;  
}
h2{
  font-family: var(--fancy-font);
  width:100%;
  font-size:1.75em;
  clear:both;
  text-align:center;
  padding-top:32px;
  padding-bottom:32px;
}

h4{
  /*width:60%;*/
  text-align:center;
  font-size:1em;
  font-weight:700;
  margin-left:auto;
  margin-right:auto;
  color:var(--grey-color);
  padding-bottom:32px;
}

.footer{
  width:100%;
  clear:both;
  border-top:1px solid #bcbcbc;
  text-align:center;
  margin-top:1em;
  padding-bottom:2em;
}

.footer div{
  margin-top:4em;
  text-align:center;
  float:none;
  clear:both;
}
#icon-gift-better-gift-wrapt{
  margin-top:4em;
  width:300px;
}



.scene{
  overflow:hidden;
  margin-top:32px;
}


.allRecs{
  clear:both;
  float:none;
  width:100%;
  height:75vh;
  position:relative;  
}
.recSlide{
  width:100%;
  height:calc(100% - var(--carousel-height));
  background-color:#fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display:none;
}

.giftShowcase{
  width:40%;
  float:left;
  height:100%;
  background-position: top middle;
  background-size: auto 100%;
  background-repeat: no-repeat;
  overflow-x: hidden;
  overflow-y:hidden;
  position:relative;
}
.recSubImage{
  height:100%;
  /*min-width:100%;*/
  width:auto;
  display:none;
}
.showSubImage{
  display:block;
}
.movers{
  background-color:var(--black-color);
  color:var(--white-color);
  width:40%;
  float:left;
  position:absolute;
  z-index:12;
  bottom:1em;
  left:0;
  text-align:right;
  padding:8px;
}
.mover{
  cursor: pointer;
}
.giftWriteup{
  float:left;
  height:100%;
  width:60%;
  padding-left:32px;
  padding-right:32px;
}

.giftWriteup .rewrapt-title{
  display:block;
  font-family:var(--fancy-font);
  color:var(--accent-color);
  clear:both;
  font-size:1.5em;
  text-align:left;
  padding-top:32px;
  padding-bottom:16px;
}

.giftWriteup .rewrapt-desc{
  display:flex;
  color:var(--grey-color);
  clear:both;
  font-size:1em;
  text-align:left;
}

.cursor{
  cursor:pointer;
}
a.prev,a.next{
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  /*padding: 16px;*/
  margin-top: -50px;
  height:50px;
  width:50px;
  line-height: 50px;
  vertical-align: middle;
  text-align: center;
  background-color:rgba(16, 83, 206, 0.2);
  font-weight: bold;
  font-size: 20px;
  border-radius: 50%;
  user-select: none;
  -webkit-user-select: none;
  color: var(--grey-color);
  text-decoration: none;
}
.next {
  right: 0;
  /*border-radius: 3px 0 0 3px;*/
}
.prev:hover,
.next:hover {
  background-color:rgba(16, 83, 206, 0.6);
  text-decoration: none;
  color:#fff;
}
.thumbsParent{
  text-align:center;
}
.row{
  display:inline-block;
  height:calc(var(--carousel-height) - 20px);
  margin-top:20px;
  margin-left:auto;
  margin-right:auto;
  background-color:var(--white-color);
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.column {
  float: left;
  /*margin-left:calc(100%/7 - 6*attr(width)/7);*/
  max-width: calc(100%/6);
  height:100%;
  overflow: hidden;
}
.column img{
  height:100%;
  width:auto;
}
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.closerBlock{
  width:calc(60% - 64px);
  font-size:1.5em;
  position:absolute;
  left: calc(40% + 32px);
  bottom:calc(var(--carousel-height) + 32px);
}
.closerBlock .pricer{
  float:left;
}
.closerBlock .addCart{
  float:right;
  background-color:rgba(16, 83, 206, 0.3);
  color:var(--grey-color);
  cursor: pointer;
  padding:8px;
}
.closerBloc .addCart:hover{
  background-color:rgba(16, 83, 206, 0.75);
  color:var(--white-color);
}
.closerBloc .addCart:active{
  background-color:rgba(16, 83, 206, 1);
  color:var(--white-color);
}
.giftBasket{
  display:none;
  position:fixed;
  width:480px;
  max-width:100%;
  height:100%;
  top:0;
  right:0;
  z-index:99;
  background-color:var(--white-color);
  font:12pt;
}
.giftOverlay{
  display:none;
  position:fixed;
  height:100%;
  width:100%;
  top:0;
  left:0;
  z-index:98;
  background-color:rgba(30,30,30,0.7);
}
.basketHead{
  width:100%;
  height:2em;
  line-height: 2em;
  vertical-align: middle;
  clear:both;
  background-color:var(--accent-color);
  color:#fff;
  padding-left:8px;
  padding-right:8px;
  cursor:pointer;
}
.itemizer{
  float:none;
  width:100%;
  clear:both;
  height:calc(60% - 1em);
  overflow-y:scroll;
  padding-left:16px;
  padding-right:16px;
}
.itemizer h2{
  padding-bottom:0px;
}
.chosenGifts{
  width:100%;
}
.basketGift{
  width:100%;
  height:9em;
  background-color:white;
  margin-top:16px;
  position:relative;
}
.basketGift .deleter{
  display:block;
  position:absolute;
  top:0;
  right:0;
  background-color:var(--white-color);
  color:var(--grey-color);
  width:25px;
  height:25px;
  line-height:25px;
  vertical-align: middle;
  text-align: center;
  display:none;
  cursor: pointer;
}
.basketGift:hover .deleter{
  display:block;
}
.basketGift .imageBox{
  float:left;
  height:100%;
  max-width:30%;
  overflow:hidden;
}
.basketGift .imageBox .pricer{
  padding:8px;
  position:absolute;
  left:0;
  bottom:0;
  background-color:rgba(30,30,30,0.6);
  color:#fff;
}

.basketGift .imageBox img{
  height:100%;

}
.basketGift .tinyDesc{
  float:left;
  width:70%;
  height:100%;
  padding:16px;
  overflow: hidden;
}
.tinyDesc h6{
  font-size:10pt;
  font-weight:bold;
}
.tinyDesc p{
  font-size:10pt;
  color:var(--grey-color);
}

.totalizer{
  float:none;
  width:100%;
  clear:both;
  height:calc(40% - 1em);
  background-color:var(--black-color);
  color:var(--white-color);
  padding-left:16px;
  padding-right:16px;
  text-align:center;
}

.subtotaler{
  float:none;
  width:100%;
  clear:both;
  font-size:16pt;
}
.stLabel{
  display:block;
  float:left;
  padding:16px;
}
.subtotal{
  display:block;
  float:right;
  padding:16px;
}
.stAnnotation{
  float:none;
  width:100%;
  clear:both;
  text-align: left;
  font-size:10pt;
}
.checkoutBtn{
  width:80%;
  min-width:200px;
  margin-left:auto;
  margin-right:auto;
  background-color:var(--accent-color);
  color:var(--black-color);
  border:1px solid transparent;
  font-weight: bold;
  cursor:pointer;
  margin-top:16pt;
}
.checkoutBtn:hover{
  background-color: rgba(16, 83, 206, 0.99);
}
.checkoutBtn:active{
  background-color: rgba(16, 83, 206, 0.9);
  color:var(--white-color);
}

.signupOverlay{
  width:100%;
  height:100%;
  background-color:rgba(30,30,30,0.7);
  position:fixed;
  top:0;
  left:0;
  z-index:70;
  display:none;
}
.signupForm{
  width:80vw;
  height:80vh;
  background-color:var(--white-color);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  position:fixed;
  top:32px;
  left:10%;
  padding:32px;
  z-index: 71;
  overflow-y:scroll;
  overflow-x:hidden;
  display:none;
}
.signupItem{
  width:100%;
  margin-bottom:16px;
  float:none;
  clear:both;
  text-align:left;
}
.signupItem span{
  display:block;
  float:left;
  clear:both;
}
.signupInput{
  width:100%;
  height:1.8em;
  border:1px solid var(--grey-color);
  background-color:#fff;
  padding-top:16px;
  padding-bottom:16px;
  padding-left:8px;
  padding-right:8px;
}
.yellow{
  background-color:#fffdd0;
}

button#signup {
  background-color:var(--accent-color);
  color:var(--grey-color);
  width:100%;
  padding:16px;
  text-align:center;
  border:none;
  font-weight:bold;
  cursor:pointer;
}

button#signup:hover{
  color:#fff;
}
button#signup:active{
  color:#d0d0d0;
}

.signupCheck{
  width:1em;
  height:1em;
  border:1px solid var(--grey-color);
  background-color:transparent;
}

.signupCheck:checked{
  padding:2px;
  background-color:var(--accent-color);
}

#dvLoading{
  position:fixed;
  height:100%;
  width:100%;
  background-color:rgba(30,30,30,.75);
  top:0;
  left:0;
  display:none;
  text-align:center;
  padding:50px;
}

@media (max-width: 767.98px) {
  .allRecs{
    clear:both;
    float:none;
    width:100%;
    height:auto;
    overflow-y: hidden;
    position:relative;  
  }
  .recSlide{
    width:100%;
    /*height:calc(100% - var(--carousel-height));*/
    background-color:#fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display:none;
  }

  .giftShowcase{
    width:100%;
    height:50vh;
    float:none;
    background-position: middle middle;
    background-size: auto 100%;
    background-repeat: no-repeat;
    overflow-x: hidden;
    overflow-y:hidden;
    position:relative;
    text-align:center;
  }
  .giftWriteup{
    float:none;
    overflow-y: hidden;
    width:100%;
    min-height:40vh;
    padding-left:8px;
    padding-right:8px;
    padding-bottom:4em;
  }

  .closerBlock{
    height:2em;
    width:100%;
    font-size:1em;
    padding:8px;
    position:absolute;
    left: 0;
    bottom:calc(var(--carousel-height) + 2.75em);
  }
  .closerBlock .pricer{
    float:left;
    font-weight:bold;
  }
  .closerBlock .addCart{
    content:"CART";
    float:right;
    background-color:rgba(16, 83, 206, 0.3);
    border:none;
    color:var(--grey-color);
    cursor: pointer;
    padding:8px;
  }
}

@media (min-width: 768px) and (max-width: 1000px) {
  body{
    width:768px;
    margin-left:auto;
    margin-right:auto;
  }
}

@media (min-width: 1000px) and (max-width: 1250px) {
  body{
    width:1000px;
    margin-left:auto;
    margin-right:auto;
  }
}

@media (min-width: 1250px) {
  body{
    width:80%;
    margin-left:auto;
    margin-right:auto;
  }
}